*{
    margin:0;
    padding:0;
}
body{
    background-color: #040d36; 
    color: #FFFFFF;
    margin: 0;
    font: normal 16px serif;
    line-height: 1.6em;
}
.box1 p{
    text-align: center;
    background-color: #2aad91;
    margin: 10px 200px;
    border-radius: 10px;

}
h1, h2{
    text-align: center;
    color:#2aad91;
    padding-top: 10px;
}

.container {
    width: 100%;
    margin:0;
}
.contact-form{
    background-color: #2aad91;
    margin-left: 300px ;
    margin-right: 300px;
    border-radius: 10px;
    color: #040d36;
    line-height: 2em;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    background-color:#FFFFFF ;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid;
    width: 115px;
}
.button:hover{
    transition-duration: 0.4s;
    background-color:#040d36;
    color: white;
}
input[type=email],[type=text]{
    width: 40%;
    border-radius: 5px;
    font-size: small;
    box-sizing: border-box;
    padding: 8px 20px;
    margin: 1px 0px;
    border: 2px solid red;
}

input[type=button]{
    background-color:#040d36 ;
    color:#FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0px 2px;
    cursor: pointer;
    font-size: large;
}
input[type=radio],[type=checkbox]{
    width: 05%;
}

select{
    width: 40%;
    border-radius: 5px;
    font-size: small;
    box-sizing: border-box;
    padding: 8px 20px;
    margin: 1px 0px;
    border: 2px solid red;
}
textarea{
    width: 50%;
    height: 100px;
    padding: 5px 10px;
    margin: 1px 0px;
    resize: none;
}